.table {
  font-family: "Roboto Condensed", colaborate-thin, "Yanone Kaffeesatz",
    "Helvetica Neue", helvetica;
}

.table table {
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th {
  font-weight: 400;
}

.table th,
.table td {
  border-top: 1px solid rgb(221, 221, 221);
  line-height: 20px;
  padding: 8px 16px;
}

.description {
  font-family: "Roboto Condensed", colaborate-thin, "Yanone Kaffeesatz",
    "Helvetica Neue", helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.time {
  width: 200px;
  text-align: end;
}
