.row {
  display: flex;
  font-size: 20px;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
}
.row:last-child {
  border-bottom: none;
}

.rowElement {
  flex: 1;
  margin: 8px 16px;
}

.name {
  flex: 1;
  font-size: 22px;
  font-weight: 400;
}

.image {
  width: 200px;
  margin: auto;
}

.rowName {
  min-width: 120px;
}

.nationality {
  display: flex;
}

.certificates {
  display: flex;
}

.certificate {
  margin-bottom: 16px;
}
