---
import { z } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Title from '@components/typography/Title.astro';

import Markdown from '@components/Markdown.astro';

import { multiLingualSchema } from '@utils/zod.ts';
import { getLocaleData, getLocaleFromURL } from '@utils/locale.ts';

import data from '@content/home.json';

const locale = getLocaleFromURL(Astro.url);

const contentSchema = multiLingualSchema(
  z.object({
    title: z.string(),
    intro: z.string(),
  }),
);

const parsedData = contentSchema.parse(data);

const content = getLocaleData(locale, parsedData);
---

<Layout locale={locale}>
  <Title>{content.title}</Title>
  <Markdown markdown={content.intro} />
</Layout>
