---
import { z } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Button from '@preact/Button.tsx';
import Title from '@components/typography/Title.astro';

import Markdown from '@components/Markdown.astro';

import { multiLingualSchema } from '@utils/zod.ts';

import data from '@content/home.json';

interface Props {
  locale: 'en' | 'de';
}

const { locale } = Astro.props as Props;

const contentSchema = multiLingualSchema(
  z.object({
    title: z.string(),
    intro: z.string(),
  }),
);

const parsedData = contentSchema.parse(data);

const { en, de } = parsedData;

const content = locale === 'en' ? en : de;

const title = 'English-Rafzerfeld';
---

<Layout title={title} locale={locale}>
  <Title>{content.title}</Title>
  <Markdown markdown={content.intro} />
  <Button title="Click Me" client:load />
</Layout>
