---
import Layout from '../layouts/Layout.astro';
import Button from '../components/preact/Button.tsx';

const title = 'English-Rafzerfeld';
---

<Layout title={title}>
  <h1>{title}</h1>
  <Button title="Click Me" client:load />
</Layout>
