---
const { title } = Astro.props;
const links = [
  { href: '#', label: 'About' },
  { href: '#', label: 'Careers' },
  { href: '#', label: 'History' },
  { href: '#', label: 'Services' },
  { href: '#', label: 'Projects' },
  { href: '#', label: 'Blog' },
];
---

<header>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <!-- todo create logo component -->
        <a class="text-white transition hover:text-gray-500/75" href="/">
          {title}
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            {
              links.map((link) => (
                <li>
                  <a
                    class="text-white transition hover:text-gray-500/75"
                    href={link.href}
                  >
                    {link.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="sm:flex sm:gap-4">
            <div class="hidden sm:flex">
              <a
                class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
                href="#"
              >
                🇬🇧
              </a>
            </div>
          </div>

          <!-- todo: move to mobile button -->
          <div class="block md:hidden">
            <button
              class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
