html {
  height: 100%;
}

body {
  font-family: "Helvetica";
  margin: 0;
}

/* Todo: move to own style */
a,
a::selection,
a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
